@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

/* ナビゲーションバーのスタイリング */
nav ul {
    display: flex;
    justify-content: start;
    padding-left: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    background-color: #090909;
    /* 半透明の青色 */
}

nav li {
    display: flex;
    align-items: center;
    /* 中央揃えのためのスタイル */
}

nav li.auth-links {
    margin-left: auto;
}

nav a {
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    /* リンクのテキスト色 */
    padding: 20px 15px;
}

/* 背景とタイトルのスタイリング */
.bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    color: #eda7a7;
}

.bg-visible:before {
    transform: translate(0, 0);
}

.bg:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e8baba;
    transform: translate(0, 100%);
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) .6s;
    content: '';
}

.title {
    display: block;
    color: #000000;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

.title span {
    display: block;
    opacity: 0;
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 1s, opacity linear 0.7s;
}

.title span:first-child {
    transform: translate(0, 40px);
    font-size: 80px;
    transition-delay: 0.25s;
}

.title span:last-child {
    margin-top: 18px;
    transform: translate(0, 30px);
    font-size: 90px;
    transition-delay: 0.45s;
}

.bg-visible .title span {
    opacity: 1;
    transform: translate(0, 0);
}

/* 基本スタイル */
body {
    margin: 0;
}

.big-bg {
    background-size: cover;
    background-position: center top;
    background-image: url(/static/images/entrance.jpeg);
    background-color: rgba(241, 195, 195, 0.5);
    background-blend-mode: lighten;
    min-height: 100vh;

}