<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>404 Not Found</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f1f1f1;
            margin: 0;
        }

        h1 {
            font-size: 3rem;
            color: #666;
            text-align: center;
        }

        p {
            font-size: 1.5rem;
            color: #666;
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>404 Not Found</h1>
</body>

</html>