<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dozen</title>
    <link rel="stylesheet" href="/static/entrance.css">
</head>

<body>
    <nav>
        <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#">サービス紹介</a></li>
            <li><a href="#">最新リリース</a></li>
            <li><a href="#">利用規約</a></li>
            <li><a href="#">お問い合わせ</a></li>
            <li><a href="#">会員登録</a></li>
        </ul>
    </nav>
    <div class="bg">
        <span class="title">
            <span>Dozen</span>
            <span>12 WEEKS PLANING</span>
        </span>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/entrance.js"></script>
</body>

</html>